<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<footer id="dk-footer" class="dk-footer">
    <div class="copyright">
        <div class="container">
            <div class="contact-menu">
                <ul>
                    <li>
                        <a href="#"><i class="fas fa-phone-volume fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="far fa-envelope fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-whatsapp fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    </li>
                </ul>
            </div>

            <div>
                <span>Copyright © 2019, All Right Reserved Seobin</span>
            </div>
        </div>
    </div>
</footer>